/* write your override styles here */
#wall .tag-1 {display: none}

div#wall div#tag-2 {background-color: blue; opacity: 0.5}

div#wall div#tag-3.slick {display: none}

#wall .parent #tag-4 {z-index: 1}

